{{!< default}}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="vertical">
    <div class="site-head-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
      <h1 class="blog-title">{{@blog.title}}</h1>
      <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
  </div>
</header>

<main id="main" class="content column" role="main" ng-controller="GalleryController as gallery">
  <div ng-repeat="row in gallery.rows" class="content row">
    <article ng-repeat="gal in row"  class="post" ng-class="[[gal.classes]]" >
      <figure class="post-content" >
        <figcaption class="gallery-caption">[[gal.alt]]</figcaption>
        <a href="[[gal.url]]" >
          <img
            ng-src="[[gal.img]]"
            alt="[[gal.alt]]"
            />
        </a>
      </figure>
    </article>
  </div>
</main>



<aside class="hidden">
  <label><div>Play Mode</div>
    <div class="bar">
      <button class="slider"></button>
    </div>
  </label>
</aside>

