{{!< default}}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="vertical">
    <div class="site-head-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
      <h1 class="blog-title">{{@blog.title}}</h1>
      <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
  </div>
</header>

{{! The main content area on the homepage }}
<div ng-controller="GalleryController as gallery">
  <article ng-repeat="gal in gallery.strArr">
    <figure class="post-content">
      <figcaption class="gallery-caption">
      </figcaption>
      <img ng-src="[[gal]]" />
    </figure>
  </article>

</div>
<main class="content" role="main" ng-controller="GalleryController as gallery">
  <article ng-repeat="gal in gallery.listPostsArr">
    <figure class="post-content">
      <figcaption class="gallery-caption">
        {{{title}}}
      </figcaption>
      <a ng-bind-html="gal.description">
      </a>
    </figure>

  </article>
  

</main>

