{{!< default}}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
  <div class="vertical">
    <div class="site-head-content inner">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
      <h1 class="blog-title">{{@blog.title}}</h1>
      <h2 class="blog-description">{{@blog.description}}</h2>
    </div>
  </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main" ng-controller="GalleryController as gallery">
  <article ng-repeat="gal in gallery.posts">
    <figure class="post-content">
      <figcaption class="gallery-caption">
        {{{title}}}
      </figcaption>
      <a href="" ng-bind-html="gal">

      </a>
    </figure>

  </article>

  {{#foreach posts}}
    {{#has tag="gallery"}}
    <article class="{{post_class}}  {{tags autolink="false"}}">
      <figure class="post-content">
        <figcaption class="gallery-caption">
          {{{title}}}
        </figcaption>
        <a href="{{url}}">

        </a>
      </figure>
    </article>
    {{/has}}
    {{#unless tags}}
      <article class="{{post_class}}  {{tags autolink="false"}}">
        <h2 class="post-title">
          <a href="{{url}}">{{{title}}}</a>
        </h2>
        <section class="post-content">
          {{content}}
        </section>
      </article>
    {{/unless}}
  {{/foreach}}
  {{!pagination}}
  
  

</main>

